body{
    background-color: rgb(77, 151, 154);
    color:black;
}
p{
    color:red;
}
h1{
    text-align: center;
    color: black;
}
b{
    color:white;
}
ul{
    color: red;
}
li{
    color:red;
}
.container {
    position: relative;
    width: 50%;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .dropbtn {
    background-color: black;
    color: red;
    padding:0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
  }
  
  .dropdown-content a {
    color: red;
    padding:0px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}